Repository ownimage/grandad-does-stuff: changes, and which Woodpecker steps are due for each by the changed paths.
All: solar-controlar, build-docker, test

.woodpecker/pipeline.yaml:

when:
  - event: push

steps:
  - name: solar-controlar
    image: python:3.11-bookworm
    when:
      - path: ['solar-controlar/**', '.woodpecker/**']
    commands:
      - echo "Testing ........."
      - cd solar-controlar
      - pip install -r requirements.txt
      - coverage run -m unittest discover test
      - coverage report -m

  - name: build-docker
    image: docker:cli
    when:
      - path: [ 'solar-controlar/Dockerfile', '.woodpecker/**']
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    commands:
      - cd solar-controlar
      - docker build .

.woodpecker/solar-controlar.yaml:

when:
  - event: push

steps:
  - name: test
    image: python:3.11-bookworm
    when:
      - path: 'solar-controlar/**'
    commands:
      - echo "Testing ........."
      - cd solar-controlar
      - python -m unittest discover tests

Added injectable json store
  solar-controlar/ReadMe.md
  solar-controlar/images/data flow.drawio
  solar-controlar/solar_forecast.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/common/__init__.py
  solar-controlar/src/common/json_store.py
  solar-controlar/src/config_apply.py
  solar-controlar/src/solar_forecast_generate.py
  solar-controlar/src/solar_forecast_generator.py
  solar-controlar/test/test_config_apply.py
Due: solar-controlar, test

Changed to half hourly format
  solar-controlar/config.json
  solar-controlar/images/data flow.drawio
  solar-controlar/settings.json
  solar-controlar/solar_forecast.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/config_generate.py
  solar-controlar/src/config_generator.py
  solar-controlar/src/filenames.py
  solar-controlar/src/settings.py
  solar-controlar/src/solar_forecast_generator.py
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/settings.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/filenames.py
  solar-controlar/src/solar_actuals.py
  solar-controlar/src/solarcontrolar/givenergy.py
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/old/summary.py
  solar-controlar/solar_forecast.json
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/config.json
  solar-controlar/crontab_file
  solar-controlar/settings.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/solar_forecast_generator.py
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/src/config_generator.py
Due: solar-controlar, test

Half hourly format files
  solar-controlar/crontab_file
  solar-controlar/images/data flow.drawio
  solar-controlar/old/summary.py
  solar-controlar/settings.json
  solar-controlar/solar_forecast.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/config_generate.py
  solar-controlar/src/config_generator.py
  solar-controlar/src/filenames.py
  solar-controlar/src/settings.py
  solar-controlar/src/solar_actuals.py
  solar-controlar/src/solar_forecast_generator.py
  solar-controlar/src/solarcontrolar/givenergy.py
Due: solar-controlar, test

Fetch and summarization methods not linked
  solar-controlar/crontab_file
  solar-controlar/src/filenames.py
  solar-controlar/src/solarcontrolar/givenergy.py
  solar-controlar/src/usage_actuals.py
Due: solar-controlar, test

Basic working model ... some problems with first value of day
  solar-controlar/src/solarcontrolar/givenergy.py
  solar-controlar/src/usage_actuals.py
Due: solar-controlar, test

Fix basic data problems with api
  solar-controlar/src/usage_actuals.py
Due: solar-controlar, test

Update config_generator.py
  solar-controlar/config.json
  solar-controlar/settings.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/common/dateHelper.py
  solar-controlar/src/config_generator.py
  solar-controlar/src/settings.py
Due: solar-controlar, test

remove commented code and added to crontab_file
  solar-controlar/crontab_file
  solar-controlar/requirements.txt
  solar-controlar/src/usage_actuals.py
Due: solar-controlar, test

Usage actuals (#14)
  solar-controlar/config.json
  solar-controlar/crontab_file
  solar-controlar/requirements.txt
  solar-controlar/settings.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/common/dateHelper.py
  solar-controlar/src/config_generator.py
  solar-controlar/src/filenames.py
  solar-controlar/src/settings.py
  solar-controlar/src/solarcontrolar/givenergy.py
  solar-controlar/src/usage_actuals.py
Due: solar-controlar, test

Merge corrections
  solar-controlar/config.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/config_generator.py
  solar-controlar/src/filenames.py
  solar-controlar/src/solar_forecast_generator.py
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/settings.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/filenames.py
Due: solar-controlar, test

Changed to half hourly format and put stores in
  solar-controlar/config.json
  solar-controlar/settings.json
  solar-controlar/solar_forecast_history.json
  solar-controlar/src/calc_error.py
  solar-controlar/src/solar_forecast_generator.py
Due: solar-controlar, test

settings and config-generator changes
  solar-controlar/images/data flow.drawio
  solar-controlar/settings.json
  solar-controlar/src/config_generator.py
  solar-controlar/src/settings.py
Due: solar-controlar, test

Settings and config generator (#15)
  solar-controlar/images/data flow.drawio
  solar-controlar/settings.json
  solar-controlar/src/config_generator.py
  solar-controlar/src/settings.py
  solar-controlar/src/solarcontrolar/givenergy.py
Due: solar-controlar, test

settings and config-generator changes
  solar-controlar/src/config_generator.py
  solar-controlar/src/solarcontrolar/givenergy.py
Due: solar-controlar, test

create forecast_pipeline.py
  solar-controlar/config.json
  solar-controlar/crontab_file
  solar-controlar/requirements.txt
  solar-controlar/src/forecast_pipeline.py
  solar-controlar/src/solar_actuals.py
Due: solar-controlar, test

Settings and config generator (#16)
  solar-controlar/src/config_generator.py
  solar-controlar/src/solarcontrolar/givenergy.py
Due: solar-controlar, test

create forecast_pipeline.py (#17)
  solar-controlar/config.json
  solar-controlar/crontab_file
  solar-controlar/requirements.txt
  solar-controlar/src/forecast_pipeline.py
  solar-controlar/src/solar_actuals.py
Due: solar-controlar, test

fix typo
  solar-controlar/src/calc_error.py
Due: solar-controlar, test

fix typo (#18)
  solar-controlar/src/calc_error.py
Due: solar-controlar, test

added install.sh
  solar-controlar/Dockerfile
  solar-controlar/RPi.md
  solar-controlar/docker-compose.yml
  solar-controlar/install.sh
  solar-controlar/src/config_generator.py
Due: solar-controlar, build-docker, test

added install.sh
  solar-controlar/Dockerfile
Due: solar-controlar, build-docker, test

Initial checking
  .gitignore
  font_generator/display.py
  font_generator/ownimage/font_generator/blackletter.py
  font_generator/ownimage/font_generator/glyph.py
  font_generator/ownimage/font_generator/mark.py
  font_generator/ownimage/font_generator/stroke.py
Due: none

Initial checking (#20)
  .gitignore
  font_generator/display.py
  font_generator/ownimage/font_generator/blackletter.py
  font_generator/ownimage/font_generator/glyph.py
  font_generator/ownimage/font_generator/mark.py
  font_generator/ownimage/font_generator/stroke.py
Due: none

Initial add pen width for letters
  font_generator/display.py
  font_generator/ownimage/font_generator/blackletter.py
  font_generator/ownimage/font_generator/glyph.py
  font_generator/ownimage/font_generator/mark.py
  font_generator/ownimage/font_generator/stroke.py
Due: none

initial implementation of birdfont replacement, and letter b
  font_generator/display.py
  font_generator/generate.py
  font_generator/ownimage/font_generator/birdfont_reader.py
  font_generator/ownimage/font_generator/blackletter.py
  font_generator/ownimage/font_generator/glyph.py
  font_generator/ownimage/font_generator/mark.py
  font_generator/ownimage/font_generator/stroke.py
Due: none

better UI implementation
  font_generator/display.py
  font_generator/ownimage/__init__.py
  font_generator/ownimage/font_generator/__init__.py
  font_generator/ownimage/font_generator/blackletter.py
  font_generator/ownimage/font_generator/glyph.py
  font_generator/ownimage/font_generator/mark.py
  font_generator/ownimage/font_generator/ui.py
Due: none
